header {

}

#logo {
    float: left;
}

#menu {
    float: left;
    font-size: 20px;
    padding: 25px;
    margin-right: 50px;
    margin-left: 500px;
    color: #4aaaa5;
}

body {
    background-image: url("../images/playstation/playstation-pattern.png");
    padding: 10px;
}

h1 {
    color: blue;
}


h2 {
}

#profile-pic {
    width: 200px;
    height: 200px;
}

button {
    margin: 10px 0px;
}

#form-box {
    width: 650px;
    height: 500px;
    padding: 50px;
    background-color: white;
    float: left;
}

#connect-box {
    height: 250px;
    width: 270px;
    padding: 10px;
    background-color: yellow;
    padding: 20px;
    float: left;
}

#content {
    width:100%;
    height: 1000px;
    background-color: lightcoral;
    float:left;
}

footer {
    background-color: #666666;
    height: 60px;
    text-align: center;
    color: white;
    padding: 20px;
    clear: both;
}

section {

}

#about-me {
    width: 650px;
    height: 400px;
    background-color: lightblue;
    float: left;
}

#portfolio {
    width: 650px;
    height: 500px;
    background-color: lightyellow;
    float: left;
    padding: 20px;
}

img {
    padding: 10px;
}

p {
    padding: 10px;
}

.icon {
    max-width: 70px;
    max-height: 90px;
}

li {
    display:inline;
}

.thumbnail {
    width: 200px;
    height: 200px;
}