
body {
    background-image: url("../images/playstation/playstation-pattern.png");
}

h1 {
    color: blue;
}

#profile-pic {
    width: 200px;
    height: 200px;
}

button {
    margin: 10px 0px;
}
